@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400&family=Lato:wght@500&family=Poppins:wght@500&display=swap');

* {
  font-family: 'Lato', sans-serif;
  text-align: center;
}
html{
  scroll-behavior: smooth;
}
body {
  display: flex;
  flex-direction: column;
  background: white;
  align-items: center;
}

nav {
  margin-bottom: 15px;
}

ul {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  list-style-type: none;
}

a {
  font-size: 1.2rem;
  text-decoration: none;
  color: darkcyan
}

a:hover {
  color: blueviolet;
  transition-duration: 500ms;
}

h2 {
  line-height: 1;
  font-size: 1.2rem;
}

h1 {
  font-size: 2.6rem;
  font-weight: 800;
}

h3 {
  font-size: 1.6rem;
}

p {
  font-family: 'Poppins', sans-serif;
  margin: 1px;
  font-size: 1.1rem;
  letter-spacing: 1px;
}

h1,
h2,
h3 {
  margin: 4px;
}

h4 {
  font-size: 1.6rems;
  margin: 1px;
  font-weight: 700;
  text-align: left;
}

section>p {
  margin: 3px;
}

p.project--intro {
  padding-left: 4vw;
  padding-right: 4vw;
}

.text--about {
  margin: 3px;
  text-align: justify;
}

.project>p {
  text-align: justify;
  margin: 0;
}

.get-me-on {
  font-weight: 700;
  font-size: 1.3rem;
  margin: 4px;
  text-decoration: underline;
}