@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400&family=Lato:wght@500&family=Poppins:wght@500&display=swap');

* {
  font-family: 'Lato', sans-serif;
  text-align: center;
}

body {
  display: flex;
  flex-direction: column;
  background: white;
  align-items: center;
}

nav {
  float: right;
}

/* ul{
  display: flex;
  justify-content: space-around;
} */
li {
  display: inline;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #0e7ba0;
}

h1,
h2,
h3 {
  margin: 4px;
}

h4 {
  margin: 1px;
  font-weight: 700;
  text-align: left;
}

p {
  width: 90vw;
  font-family: 'Poppins', sans-serif;
}

section>p {
  margin: 3px;
}

.text--about {
  margin: 3px;
  text-align: justify;
}

.project>p {
  text-align: justify;
  margin: 0;
}

.project>span {
  float: right;
  position: relative;
  top: -18px;
}

.get-me-on {
  font-weight: 700;
  margin: 4px;
  text-decoration: underline;
}